---
import Icon from "../icon.astro"
---

<div class="shadow-lg rounded-lg px-2 w-full max-w-[288px] h-[458.02px] ">
  <div class="h-[192.02px] text-start p-2 border-b-[#212529] border-b-2">
    <Icon icon="quote"/>
    <p class="text-base pt-5">
      Taskkey is designed as a collaboration tool for businesses that is a full project management solution.
    </p>
  </div>
  <div class="h-[192.02px] text-start p-2">
    <Icon icon="avatar"/>
    <h4 class="pt-2 text-secondary-dark font-semibold text-md">Oberon Shaw, MCH</h4>
    <p class="text-base pt-1">
      Taskkey is designed as a collaboration tool for businesses that is a full project management solution.
    </p>
  </div>
</div>