---
import CardPlan from "../cards/CardPlan.astro";

---

<section class="bg-white py-20 space-y-20">
  <div class="flex flex-col text-center justify-center items-center gap-8 text-secondary-dark">
    <h1 class="font-bold text-4xl">Choose Your Plan</h1>
    <p class="font-normal text-lg">Whether you want to get organized, keep your personal life on track, or boost workplace productivity, Evernote has the right plan for you.</p>
  </div>
  <CardPlan mainly/>
</section>