---
import MainComponent from "../MainComponent.astro"
import ChoosePlan from './ChoosePlan.astro';

---

<section class="bg-white px-5 py-10 space-y-20">
  <MainComponent withoutImage mainly title="Customise it to your needs" body="Customise the app with plugins, custom themes and multiple text editors (Rich Text or Markdown). Or create your own scripts and plugins using the Extension API."
  buttonText="Let’s Go"
  buttonLink="#sarasa"
  >
  <div slot="before" class="w-[286px] h-[191px] mt-10 bg-secondary-skyblue"></div>
</MainComponent>
  <ChoosePlan/>
</section>