---
import Icon from "../icon.astro"
---

<div class="flex flex-col text-white text-center justify-center items-center gap-8 py-16 space-y-20">
  <Icon icon="apps"/>
  <h1 class="font-bold text-4xl">Work with Your Favorite Apps Using whitepace</h1>
  <p class="font-normal text-lg">Whitepace teams up with your favorite software. Integrate with over 1000+ apps with Zapier to have all the tools you need for your project success.</p>
</div>