---
import MainComponent from "../MainComponent.astro"
---

<section class="px-5">
    <MainComponent title="Get More Done with whitepace" body="Project management software that enables your teams to collaborate, plan, analyze and manage everyday tasks"
    buttonText="Try TasKey Free"
    buttonLink="#sarasa"
    />
</section>