---
import MainComponent from "../MainComponent.astro"
import Icon from "../icon.astro"
---

<section class="bg-white px-5 py-10 space-y-20">
    <MainComponent mainly title="Project Management" body="Images, videos, PDFs and audio files are supported. Create math expressions and diagrams directly from the app. Take photos with the mobile app and save them to a note."
    buttonText="Get Started"
    buttonLink="#sarasa"
    />
    <MainComponent withoutImage mainly title="Work together" body="With whitepace, share your notes with your colleagues and collaborate on them. You can also publish a note to the internet and share the URL with others."
    buttonText="Try it now"
    buttonLink="#sarasa"
    >
    <div class="mt-5" slot="after">
      <Icon icon="circles-image"/>
    </div>
  </MainComponent>
</section>