---
import MainComponent from "../MainComponent.astro"
---

<section class="px-5">
    <MainComponent title="Use as Extension" body="Customise the app with plugins, custom themes and multiple text editors (Rich Text or Markdown). Or create your own scripts and plugins using the Extension API."
    buttonText="Let’s Go"
    buttonLink="#sarasa"
    />
</section>