---
import Layout from '../layouts/Layout.astro';
import MainComponent from '../components/MainComponent.astro';
import CardPlan from '../components/cards/CardPlan.astro';
---

<Layout title="Welcome to Astro.">
	<main class="pt-20">
		<!-- <MainComponent /> -->
		<CardPlan mainly={false}/>
	</main>
</Layout> 
  