---
import Layout from '../layouts/Layout.astro';
import GetMore from '../components/sections/GetMore.astro';
import ProjectManagement from '../components/sections/ProjectManagement.astro';
import UseExtension from '../components/sections/UseExtension.astro';
import YourWork from '../components/sections/YourWork.astro';
import Sponsors from '../components/sections/Sponsors.astro';
import Customise from '../components/sections/Customise.astro';

---

<Layout title="Welcome to Astro.">

	<main class="pt-24 space-y-10">
		<!-- <GetMore />
		<ProjectManagement/>
		<UseExtension/>
		<Customise/> -->
		<YourWork />
		<Sponsors />

	</main>
</Layout> 
  