---
import { twMerge } from 'tailwind-merge'
import Icon from './Icon.astro'
interface Props {
  mainly: boolean;
  text: string;
}

const { mainly,text } = Astro.props
---

<li class={twMerge("text-base font-normal flex items-center gap-4",
  mainly ? "text-white" : "text-secondary-dark"
)}>
  <div class="w-[18px] h-[18px]">
    {mainly ? (
      <Icon icon='check-yellow'/>
    ) : (
      <Icon icon='check-dark'/>
    )} 
  </div>
  <span class="mb-[1px]">
    {text}
  </span>
</li>