---
import Icon from "../components/icon.astro";
---

<nav class="fixed z-10 shadow-lg left-0 h-[56px] px-3 top-0 flex justify-between bg-primary-blue items-center w-full">
    <Icon icon="logo"/>
    <Icon icon="menu"/>
</nav>